@{
    ViewData["Title"] = "Resume";
}
@{
    ViewData["Title"] = "Resume";
}

<h1>My Resume</h1>

<iframe src="~/assets/CV.pdf" style="width: 100%; height: 800px;" frameborder="0"></iframe>

<div class="resume-page">

    <h1>Resume - Ahmed Makram</h1>
    <a href="~/assets/CV.pdf" class="btn btn-primary" download>Download My Resume</a>
